<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/lib/basics.js"></script>
    <script src="/static/lib/voiceTalking/voiceTalking.js"></script>
    <title>Enhanced GPT conversation</title>
    <link rel="icon" href="/static/img/ai-header.png">
</head>
<body style="background-image:url('/static/img/Satellite-wallpaper.jpg')">
<h1>Enhanced GPT conversation</h1>
<div id="waiting-status-container" class="waiting-status-container" style="display:none">
    <img src="/static/img/Mars animated.gif" >
    <div style="color:blue;background-color:white">Waiting for answer...</div>
</div>
<div class="chat-container">
    <div class="chat-messages" id="chat-messages">
    </div>
    <div class="chat-input">
        <textarea id="message-input" class="message-input" placeholder="Type a message (press Ctrl + Enter to send)"></textarea>
    </div>
    <div class="voice-status-container">
        <div class="voice-status-data">
            <img src="/static/img/icons8-microphone-16.png">
        </div>
        <div class="voice-status-data">Language:</div>
        <div id="voice-lang" class="voice-status-data">en-US</div>
        <div class="voice-status-data">Status:</div>
        <div id="recognition-status" class="voice-status-data">listening</div>
        <button id='show-openai-key' onclick="showHideOpenAIKeySettings()" style="margin-left:5px">Show OpenAI key</button>
    </div>
    <div class="voice-status-container" id="openai-settings" style="margin-top:3px;display:none">
        <label for="openai-key" style="color:yellow">OpenAI key:</label>
        <input type="text" id="openai-key" style="width:63%;">
        <button onclick="changeOpenIAKey()" style="margin-left:5px">Change</button>
        <button onclick="readOpenAIKey()" style="margin-left:5px">Read</button>
    </div>
</div>
<script>
    const chatMessages = document.getElementById('chat-messages');
    const messageInput = document.getElementById('message-input');
    const messageBackgroundColors = {user:'lightgoldenrodyellow', assistant:'beige'}
    const waitingStatusContainer = document.getElementById('waiting-status-container');
    var showOpenAIKeySettings = false;
    readOpenAIKey();
    setKeyboardMessageInput();
    loadConversation();

    function showHideOpenAIKeySettings() {
        showOpenAIKeySettings = !showOpenAIKeySettings;
        let showHideButton = document.getElementById('show-openai-key');
        let openAISettings = document.getElementById('openai-settings');
        if (showOpenAIKeySettings) {
            openAISettings.style.display = 'flex';
            showHideButton.textContent = 'Hide OpenAI key';
        } else {
            openAISettings.style.display = 'none';
            showHideButton.textContent = 'Show OpenAI key';
        }
    }

    function loadConversation() {
        let url = '/gpt/get_conversation_cash';
        fetch(url).then(response => response.json())
        .then(data => {
            for (let message of data) {
                //message adding should be refactored further
                let isUser = (message.role === 'user')
                let messageColor = (isUser) ? messageBackgroundColors.user : messageBackgroundColors.assistant;
                let author = (isUser) ? 'user' : 'ChatGPT';
                addMessage(author, message.content, messageColor);
            }
            initiateVoiceTalking();
        });
    }

    function initiateVoiceTalking() {
        let result = document.getElementById('result');
        let voiceRecognitionParameters = voiceTalking.parametersSettings();
        voiceRecognitionParameters.elements.inputElement = messageInput;
        voiceRecognitionParameters.elements.statusTextElement = document.getElementById('recognition-status');
        voiceRecognitionParameters.elements.langTextElement = document.getElementById('voice-lang');
        voiceRecognitionParameters.phrases.startPhrases = {'en-US':'ok skynet', 'ru-RU':'ладно робот'};
        voiceRecognitionParameters.phrases.executePhrases = {'en-US':'answer please', 'ru-RU':'скажи пожалуйста'};
        voiceRecognitionParameters.phrases.switchPhrases = {'en-US':{'switch to russian':'ru-RU'}, 'ru-RU':{'переключись на английский':'en-US'}};
        voiceRecognitionParameters.phrases.breakPhrases = {'en-US':'stop the voice input', 'ru-RU':'отменить голосовой ввод'};
        voiceRecognitionParameters.phrases.responsePhrases = {'en-US': 'yes master', 'ru-RU':'слушаю вас'};
        voiceRecognitionParameters.phrases.confirmPhrases = {'en-US': 'okay', 'ru-RU': 'хорошо'};
        voiceRecognitionParameters.lang = 'en-US';
        voiceRecognitionParameters.execMethod = sendMessage;
        voiceRecognitionParameters.defaultVoices = {'en-US':'US English Female', 'ru-RU':'Russian Female'};
        //think about optimal using of calling voiceTalking's tests (next line)
        voiceRecognitionParameters.recognitionTestUrl = window.location.href + '/conversation_test';
        voiceTalking.initializeTalkingFunctions(voiceRecognitionParameters);
        voiceTalking.startListening();
    }

    function sendMessage() {
        if (messageInput.value) {
            let content = messageInput.value.trim();
            addMessage('User', content, messageBackgroundColors.user);
            messageInput.value = '';
            sendMessageToServer(content);
        }
    }

    function addMessage(author, content, backgroundColor, color = '') {
        let chatMessageProperties = {class:'chat-message', style:`background-color:${backgroundColor};`};
        if (color) chatMessageProperties.style += `color:${color};`;
        let chatMessage = basics.add_element(chatMessages, 'div', '', chatMessageProperties);
        basics.add_element(chatMessage, 'p', author + ':');
        let htmlContent = basics.add_element(chatMessage, 'p', content);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }

    function setKeyboardMessageInput() {
        messageInput.addEventListener('keydown', (event) => {
            if (event.ctrlKey && event.key === 'Enter') {
                event.preventDefault();
                sendMessage();
                voiceTalking.stopRecognizing();
            }
        });
    }

    function sendMessageToServer(content_data) {
        waitingStatusContainer.style.display = 'flex';
        let url = '/gpt/send_message';
        let settings = {method:'POST',
                        headers:{'Content-Type':'application/json'},
                        body:JSON.stringify({role:'user', content:content_data}),
                        }
        fetch(url, settings)
            .then(response => {
                waitingStatusContainer.style.display = 'none';
                if (!response.ok) {
                    if (response.status === 400) {
                        return response.json().then(data => {
                            throw new Error(data.error_type + ': ' + data.description);
                        });
                    } else {
                        throw new Error('Unknown error. Code ' + response.status);
                    }
                }
                return response.json();
            })
            .then(data => {
                addMessage('ChatGPT', data.content, messageBackgroundColors.assistant);
                voiceTalking.synthesiseSpeech(data.content);
            })
            .catch(error => {
                addMessage('System:', error, 'lightyellow', 'red');
            })
    }

    function readOpenAIKey() {
        //should store OpenAI key in localStorage in multiuser version
        let url = '/gpt/get_openai_key';
        fetch(url)
            .then(response => response.text())
            .then(data => {
                let openAIInput = document.getElementById('openai-key');
                openAIInput.value = data;
            })
    }

    function changeOpenIAKey() {
        //should store OpenAI key in localStorage in multiuser version
        let openAIInput = document.getElementById('openai-key');
        let url = '/gpt/set_openai_key';
        let settings = {method:'POST',
                        headers:{'Content-Type':'text/plain'},
                        body:openAIInput.value
                        };
        fetch(url, settings)
            .then(response => {
                if (response.status === 200) {
                    alert('OpenAI key successfully changed!');
                } else {
                    alert(`Unable to change OpenAI key due to ${response.status} error!`);
                }
            })
    }

</script>
</body>
</html>